
/flex/.actionScriptProperties
/flex/.flexConfig.xml
/flex/.flexProperties
/flex/.project
/flex/bin-debug/Main.swf
/flex/bin-debug/framework_4.0.0.14159.swf
/flex/bin-debug/osmf_flex.4.0.0.13495.swf
/flex/bin-debug/rpc_4.0.0.14159.swf
/flex/bin-debug/spark_4.0.0.14159.swf
/flex/bin-debug/sparkskins_4.0.0.14159.swf
/flex/bin-debug/textLayout_1.0.0.595.swf
/flex/.settings/org.eclipse.core.resources.prefs
/flex/target/mvn-eclipse-cache.properties
/python/.project
/python/.pydevproject